#tituloPrincipal {
    color: rgb(189, 86, 215);
    font-family: 'Vesper Libre', serif;
}

body {
    background-color: #b4b3b3;
    background-image: url("Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    font-family: 'Vesper Libre', serif;
    text-align: center;
}

.calculadora {
    display: flex;
    justify-content: center;
}

.btn-1 {
    display: inline-block;
    background-color: #bd56d7;
    padding: 25px 25px;
    border-radius: 50%;
    float: right;

}

a:link, a:visited {
    color: #6cd971;
}

a:hover {
    font-size: 1.4em;
}

a:active {
    font-weight: bold;
}

.btn-2 {
    display: inline-block;
    background-color: #bd56d7;
    padding: 25px 25px;
    border-radius: 50%;
    float: none;
}

.btn-3 {
    display: inline-block;
    background-color: #bd56d7;
    padding: 25px 25px;
    border-radius: 50%;
    float: left;
}

#perimetro_Triangulo{display: none}

#perimetro_Rectangulo{display: none}

#perimetro_Cuadrado{display: none}

#perimetro_Circulo{display: none}

