h1 {
    color: #bc57d5;
    font-family: 'Vesper Libre', serif;
}

body {
    background-color: #b4b3b3;
    background-image: url("Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;

}

.calculadora {
    display: flex;
    justify-content: center;
}

.centrar {
    text-align: center;
    font-family: 'Vesper Libre', serif;
}

.btn-1 {
    display: inline-block;
    background-color: #bd56d7;
    padding: 25px 25px;
    border-radius: 50%;
    float: right;

}
